.semi-card.backend-list-card{
    button{
        visibility: hidden;
    }
    div.semi-card-meta-wrapper{
        flex-grow:1
    }
    div.semi-card-meta-wrapper div:nth-child(1){
        a{
            display: inline-block;
            width: 100%;
        }
        a:hover span{
            text-shadow: 1px 2px 2px #d8d8d8;
        }
    }
    div.semi-card-meta-wrapper div:nth-child(2){
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            cursor:text;
        }
    }
    max-width: 520px;
    margin: 12px auto;
    cursor: default;
}

.semi-card.backend-list-card:hover{
    button{
        visibility: visible;
    }
}