.root {
    padding: 6px 15px;
    h2{
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
      }
      p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
        display: flex;
        align-items: center;
    }
}

.mono {
    font-family: var(--font-mono);
  }
  
.link {
    color: var(--color-text-secondary);
    display: inline-flex;
  }
  
.link:hover {
    color: var(--color-text-highlight);
  }
  