span.semi-descriptions-key {
    white-space: normal;
}

div.linkcard-description-item-count {
    display: flex;
    justify-content: space-between;
    align-items: center
}

div.listcard-description {
    .semi-descriptions-item {
        vertical-align: middle;
    }

}

div.semi-collapsible-wrapper {
    cursor: auto;
}