div.semi-card-group{
    div.semi-popover-wrapper{
        padding: 24px 24px;
    }
}
div.linkcard-description-item-count{
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}